:root {
    --color-blue-violet:#981BE6;
    --color-lavender-floral:#CB8DF2;
    --color-white:#FEFEFE;
    --color-black:#000000;
    --color-onys:#3E3E3E;
    --color-gray: #7B7B7B;
    --color-light: #ffffff;
    --padding-1: 5px;
    --box-shadow: 0 2rem 3rem var(--color-gray);
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html {
    font-size: 14px;
}
body{
    margin: 0;
    height: 100vh;
    background-color:var(--color-gray); 
}
/*==========Header menu navegação============*/
.header-menu{
position: fixed;
width: 100%;
height: 7vh;
background: rgb(37,36,36);
background: radial-gradient(circle, rgba(37,36,36,1) 0%, rgba(0,0,0,1) 100%);
z-index: 100;
}
.header-container-row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.header-row-name{
    width: 100%;
    height: 100%;
    margin-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.header-row-name a{
    color: var(--color-white); 
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Black Ops One', sans-serif;     
    transition: all 300ms ease;                                        
}
.header-row-name a:hover{
    color: var(--color-gray); 
                                             
}
.header-row-menu-nav{
    width: 100%;
    height: 100%;
    margin-right: 30px;
    list-style: none;
    gap: 10px;
    text-decoration:none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-row-menu-nav nav{
    width: 100%;
    height: 100%;
    margin-right: 30px;
   display: flex;
   align-items: center;
   justify-content: end;
}
#btn-mobile {
    display: none;
  }
.header-row-menu-nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}
.header-row-menu-nav  a {
    display: block;
    color: var(--color-blue-violet);
    font-family: 'Black Ops One', sans-serif;
    font-size: 1.3rem;
    text-decoration: none; 
    transition: all 300ms ease;
}

.header-row-menu-nav a:hover {
    color: var(--color-lavender-floral);
    font-size: 1.3rem;
}
/*======Menu mobile=======*/
  @media (max-width: 600px) {
    .header-container-row{
    display: flex;
    flex-direction: row-reverse;
   justify-content: start;
    margin: 0;
    left: 0;
    }
    .header-container-row nav{
   justify-content: start;
    }
    .header-row-name a{
        font-size: 1rem;
    }
 
    #menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      width: 80%;
      left: 0px;
      background: rgb(37,36,36);
      background: radial-gradient(circle, rgba(37,36,36,1) 0%, rgba(0,0,0,1) 100%);
      transition: 0.6s;
      z-index: 99;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      top: 64px;

    }
    #menu-nav.active #menu {
      height: calc(100vh - 64px);
      visibility: visible;
      overflow-y: auto;
  
    }
  #menu li{
        width: 100%;
        align-items: center;
    text-align: center;
}
    #menu a {
      padding: 1rem 0;
      text-decoration: none;
      margin: 0 1rem;
      border-bottom: 2px solid var(--color-lavender-floral);
    
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      color: var(--color-blue-violet);
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition:all 300ms ease;
      position: relative;
    }
    #menu-nav.active #hamburger {
      border-top-color: transparent;
    }
    #menu-nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #menu-nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    }